.prefooter-menu {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  border-top: 1px solid #D5C9BE;
  border-bottom: 1px solid #D5C9BE;
}
.prefooter-menu a {
  margin-right: 60px;
}
.prefooter-menu a:nth-child(3) {
  margin-right: 0px;
}
@media(max-width: 500px) {
  .prefooter-menu a {
    margin-right: 20px;
  }
}